[{etcpjson, [
    {interface, "0.0.0.0"},
    {port, 8559}
]},
{lager,
     [{handlers,
          [{lager_console_backend,
               [{level,info},
                {formatter_config,
                    [date," ",time," ",color,"[",severity,"] ",
                     {module,
                         ["[",
                          {application,[]},
                          {pid,[]},
                          {pid,["@"],[]},
                          module,
                          {function,[":",function],[]},
                          {line,[":",line],[]},
                          "]"],
                         []},
                     " ",message,"\n"]}]},
           {lager_file_backend,
               [{file,"log/error.log"},
                {level,error},
                {size,10485760},
                {date,"$D0"},
                {formatter_config,
                    [date," ",time," ",color,"[",severity,"] ",
                     {module,
                         ["[",
                          {application,[]},
                          {pid,[]},
                          {pid,["@"],[]},
                          module,
                          {function,[":",function],[]},
                          {line,[":",line],[]},
                          "]"],
                         []},
                     " ",message,"\n"]},
                {count,5}]},
           {lager_file_backend,
               [{file,"log/console.log"},
                {level,info},
                {size,10485760},
                {date,"$D0"},
                {formatter_config,
                    [date," ",time," ",color,"[",severity,"] ",
                     {module,
                         ["[",
                          {application,[]},
                          {pid,[]},
                          {pid,["@"],[]},
                          module,
                          {function,[":",function],[]},
                          {line,[":",line],[]},
                          "]"],
                         []},
                     " ",message,"\n"]},
                {count,5}]},
           {imem_lager_backend,
               [{level,info},
                {table_name_fun,{dderl,log_table}},
                {application,dderl},
                {tn_event,[{dderl,dderl,dderlLogTable}]}]},
           {imem_lager_backend,
               [{level,info},
                {table_name_fun,{egambo,log_table}},
                {application,egambo},
                {tn_event,[{egambo,egambo,egamboLogTable}]}]}]}]}].
