{cover_enabled, true}.

{ct_cover, true}.
{ct_use_short_names, true}.
{ct_verbose, true}.

{deps, [
    {dderl, {git, "https://github.com/K2InformaticsGmbH/dderl", {branch, "no_oci"}}}
]}.

{deps_error_on_conflict, false}.

{erl_first_files, [
    "src/egambo_gen_engine.erl",
    "src/egambo_gen_game.erl"
]}.
{erl_opts, [
    {parse_transform, lager_transform}
%%  {parse_transform, imem_rec_pretty_pt}
]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{xref_checks, [
    deprecated_functions,
    deprecated_function_calls,
    exports_not_used,
    locals_not_used,
    undefined_functions,
    undefined_function_calls
]}.
