{cover_enabled, true}.

{ct_cover, true}.
{ct_use_short_names, true}.
{ct_verbose, true}.

{deps, [
    {lager, {git, "https://github.com/K2InformaticsGmbH/lager.git", {tag, "3.4.2"}}},
    {dderl, {git, "https://github.com/K2InformaticsGmbH/dderl", {branch, "no_oci"}}},
    {etcpjson, {git, "https://github.com/K2InformaticsGmbH/tcpjson.git", {branch, "master"}}},
    {jsx, {git, "https://github.com/K2InformaticsGmbH/jsx.git", {tag, "v2.8.2"}}},
    {annlink, {git, "https://github.com/K2InformaticsGmbH/annlink", {branch, "master"}}}
]}.

{deps_error_on_conflict, false}.

{erl_first_files, [
    "src/egambo_gen_engine.erl",
    "src/egambo_gen_game.erl"
]}.
{erl_opts, [
    {parse_transform, lager_transform}
%%  {parse_transform, imem_rec_pretty_pt}
]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{relx, [
    {release, {egambo, "0.1.0"}, [egambo]},

    {dev_mode, true},
    {extended_start_script, true},
    {include_erts, true},
    {include_src, false},

    {overlay_vars, "config/vars.config"},
    {overlay, [
        {copy, "LICENSE.md", "LICENSE.md"},
        {copy, "README.md", "README.md"},

        % generating for windows
        {copy, "_build/default/lib/dderl/config/editconfs.escript", "bin/editconfs.escript"},
        {template, "_build/default/lib/dderl/config/sys.config", "releases/{{rel_vsn}}/sys.config"},
        {template, "_build/default/lib/dderl/config/vm.args", "releases/{{rel_vsn}}/vm.args"},

        % imem control scripts
        {template, "_build/default/lib/imem/scripts/imem", "bin/imem"},
        {copy, "_build/default/lib/imem/scripts/imem.escript", "bin/imem.escript"}
    ]}
]}.

{xref_checks, [
    deprecated_functions,
    deprecated_function_calls,
    exports_not_used,
    locals_not_used,
    undefined_functions,
    undefined_function_calls
]}.

% To auto compile and load files when modified.
{plugins, [rebar3_auto]}.

{profiles, [
    {prod, [
        {post_hooks,
         [{"win32", release, "powershell.exe -File post_release.ps1 < nul"},
          {"linux", release, "./post_release.sh"}]},
        {erlpkg_opts,
         [{company, "K2 Informatics GmbH"},
          {upgradecode, "E18C8A45-B4DF-4136-B4D9-8DB1B8B4E2D8"},
          {icon, "../_build/default/lib/dderl/config/erlpkg_extra/app.ico"},
          {banner, "../_build/default/lib/dderl/config/erlpkg_extra/493x58.jpg"},
          {dialog, "../_build/default/lib/dderl/config/erlpkg_extra/493x312.jpg"},
          {license, "../_build/default/lib/dderl/config/erlpkg_extra/License.rtf"},
          {xdlgs, ["../_build/default/lib/dderl/config/erlpkg_extra/ServiceSetupDlg.wxs"]},
          {msi, "../_build/default/lib/dderl/config/erlpkg_extra/msi.conf"}
         ]},
        {plugins,
         [{erlpkg, {git, "https://github.com/K2InformaticsGmbH/erlpkg.git", {ref, "3cad814e2f338317ceaf63550ea54c1e9e81f42e"}}}]},
        {relx, [{dev_mode, false}]}
    ]}
]}.
