<p>
  List of supported game types:
</p>
<div class="row">
  <div class="col-xs-12">
      <!-- TODO: Should we use a grid here instead ? -->
      <a
        *ngFor="let gameType of gameTypes"
        style="cursor: pointer;"
        [routerLink]="[gameType.id]"
        routerLinkActive="active"
        class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ gameType.name }}</h4>
        <p class="list-group-item-text">{{ gameType.info }}</p>
      </div>
    </a>
  </div>
</div>

